/* src/css/Prometheus.css */

@font-face {
    font-family: 'PrometheusFont';
    src: url('../Prometheus/font/P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply the custom font to all text */
.prometheus-page, .font-prometheus {
    font-family: 'PrometheusFont', Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #000000; /* Black background color */
    color: #864D25; /* Brown color for text in navbar */
}

.navbar-logo-container {
    flex: 1;
}

.navbar-logo {
    max-width: 110px;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #864D25; /* Brown color for navbar links */
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.content {
    padding: 2rem;
    text-align: center;
    color: #000000; /* Black color for main content text */
}


