.prometheus-page {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    background-color: #000000;
    color: #fff;
}

.navbar-logo-container {
    flex: 1;
}

.navbar-logo {
    max-width: 110px;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.content {
    padding: 2rem;
    text-align: center;
}
@font-face {
    font-family: 'PrometheusFont'; /* Replace with your font's actual name if different */
    src: url('../Prometheus/font/P.ttf') format('truetype'),
    url('../Prometheus/font/P.ttf') format('truetype'); /* Adjust formats as needed */
    font-weight: normal;
    font-style: normal;
}

.font-prometheus {
    font-family: 'PrometheusFont', Arial, sans-serif; /* Fallbacks in case the custom font doesn't load */
}
