/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #e0e0e0; /* Darker matte white */
  color: #333; /* Dark text */
  line-height: 1.6;
}

.App {
  text-align: left;
  padding: 2rem;
}

main {
  display: flex;
  flex-wrap: wrap; /* Enables wrapping on smaller screens */
  gap: 2rem;
}

.img-container {
  width: 30vw;
  height: auto;
  margin-right: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
  opacity: 0.95; /* Slight transparency */
  mix-blend-mode: multiply; /* Blends image with background */
}


section {
  flex: 1;
  max-width: 600px; /* Optional max-width for content */
}

/* Typography */
h1, h2 {
  font-weight: 300;
  margin: 0.5rem 0;
}

p {
  margin: 1rem 0;
}

.name-title {
  text-align: right;
}
